<% if true %>
  <% if current_user %>
    Signed in as <%= current_user.name %>!
    <%= link_to "Sign out", signout_path %>
    <span>Total calories burned per last activity <%= @last_activity["total_calories"] %></span>
  <% else %>
    <%= link_to "Sign in with Runkeeper", "/auth/runkeeper" %>
  <% end %>
<% end %>


<div class="container hidden">
  <div style="clear:both"></div>

  <div id="main">

    <div id="content">

      <div class="text">
        <h2>CalCounter is coming soon.</h2>
        <p>Log in with your Runkeeper, select food that you had today and see if you getting fitter.</p>
      </div><!--end text-->

      <div class="counter">
        <h3>Estimated Time Remaining Before Launch:</h3>
        <div id="defaultCountdown"></div>
      </div><!--end counter-->

      <div class="details">
        <div id="sliderwrap">
          <div id="slidertext"><!-- The slider -->
            <h3>Type your email to get the updates!</h3>
            <span>I will use your email for CalCounter reminder only, I promise.</span>
            <%= form_for Subscriber.new do |f| %>
              <fieldset>
                <div id="email_input">
                  <%= f.text_field :email, :value => "Enter Your E-mail", :id => "email" %>
                  <%= f.submit "SUBMIT", :id => "submit" %>
                </div>
              </fieldset>
            <% end %>
            <form method="post" id="subscribeform" action="">
              <fieldset>
                <div id="email_input">
                  <input name="email" type="text" size="30" value="Enter Your E-mail"/>
                  <input type="submit" id="submit" value="SUBMIT" size="80" />
                </div>
              </fieldset>
            </form>
          </div><!-- End of slidertext -->
        </div><!-- End of sliderwrap -->

      </div><!--end details-->
    </div><!--end content-->
    <p class="copyright">Copyright &copy; Zaparka. All rights reserved</p>
  </div><!--end main-->
</div><!--end class container-->
