<!DOCTYPE html>
<html>
<head>
  <title>Calcounter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "http://code.jquery.com/jquery-latest.pack.js" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
  <!-- jquery countdown-->
  <script type="text/javascript">
  $(function () {
  var austDay = new Date("July 6, 2012 12:00:00");
      $('#defaultCountdown').countdown({until: austDay, layout: '{dn} {dl}, {hn} {hl}, {mn} {ml}, and {sn} {sl}'});
      $('#year').text(austDay.getFullYear());
      });
  </script>

  <!-- jquery slider -->
  <script type="text/javascript">

  $(function() {
      $("input#email").focus(function(){
        this.value = ""
      });
  });

  </script>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33003170-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <section>
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
    <% end %>
  </section>
<%= yield %>

</body>
</html>
